.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 156px;
  width: 100%;
  background-color: #5ca5a5;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-top: 0px;
  /* top: 0px; */
}

#schedule_link_pc {
  display: inline-block;
}

#schedule_link_mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .toolbar {
    width: 100%;
    margin-bottom: 20px;
  }
  #schedule_link_pc {
    display: none;
  }

  #schedule_link_mobile {
    display: inline-block;
  }
}
