.info-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 5px 0;
}

.top-info {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 5px;
}

.top-info-1 {
  color: #5ca5a5;
  font-weight: 900;
  font-size: .9rem;
  padding-top: 4px;
  margin-right: 8px;
}

.top-info-2 {
  background-color: #5ca5a5;
  margin-right: 8px;
}

.top-info-3 {
  background-color: black;
}

.top-info-2, .top-info-3 {
  color: white;
  font-weight: bold;
  font-size: .68rem;
  border-radius: 500px;
  padding: 8px 8px 4px;
}

.title {
  margin: 5px;
  padding-top: 5px;
}

.role {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.13rem;
  color: #2b3939;
}

.role:hover {
  color: #5ca5a5;
  cursor: pointer;
}

.more-info {
  margin: 5px;
  width: max-content;
}

.bullet {
  font-weight: 100;
}

.more-info-1,
.more-info-2,
.more-info-3,
.bullet {
  margin: 3px;
  color: #7c8f8f;
  font-size: 13px;
  font-size: .8rem;
}

@media screen and (max-width: 1070px) {
  .info-container {
    border-bottom: 1px solid gray;
    align-items: center;
  }

  .role {
    display: inline-block;
    text-align: center;
  }
}
