<div class="filter-container"
  (mouseenter)="isHovering=true" 
  (mouseleave)="onLeave()">
    <div *ngIf=" selectedSkills.length > 0; else elseBlock" class="filter-skill">
      <app-filter-list
        [(selectedSkills)]="selectedSkills"
        [(filtedJobs)]="filtedJobs"
        [listOfJobs]="listOfJobs"
        [jobFilter]="jobFilter"
        (filtedJobsChange)="updateJobs($event)">
      </app-filter-list>
      <p class="filter-clear" (click)="clearSelectedSkills()">Clear</p>
    </div>
    <ng-template #elseBlock class="filter-skill">
      <!-- <input type="text"  
      placeholder="Filter"
      class="filter-input"
      [value]="this.inputValue" 
      (input)="this.inputValue=getValue($event)"
      (focus)="focused()"
      (keyup.enter)="addSkill()" /> -->
      <p class="filter-input"> Filter by skills </p>
    </ng-template>

      <div class="filter-display" 
      *ngIf="isHovering"
      >
      <ul class="filter-level">
        <li><strong>Levels</strong></li>
        <li class="filter-display-list" *ngFor="let lvl of level"
            (click)="this.clickSkill(lvl.level)">{{lvl.level}}</li>
      </ul>
      <ul class="filter-type">
        <li><strong>Types</strong></li>
        <li class="filter-display-list" *ngFor="let typo of typa"
            (click)="this.clickSkill(typo.type)">{{typo.type}}</li>
      </ul>
      <ul class="filter-language">
        <li><strong>Languages</strong></li>
        <li class="filter-display-list" *ngFor="let lang of language"
            (click)="this.clickSkill(lang.language)">{{lang.language}}</li>
      </ul>
    </div>
</div>

