.filter-container {
  position: absolute;
  width: 70%;
  min-width: 300px;
  background-color: white;
  box-shadow: 3px 6px 20px -2px #9bc4c4;
  border-radius: 5px;
  padding: 10px 0;
  margin-right: auto;
  margin-left: auto;
  top: 120px;
  left: 0;
  right: 0;
}

.filter-skill {
  display: flex;
}

.filter-clear {
  align-self: center;
  color: #7C8F8F;
  font-weight: bolder;
  cursor: pointer;
  padding: 0 15px;
  margin: 0 10px;
  margin-left: auto;
}

.filter-clear:hover {
  color: #5ca5a5;
  text-decoration: underline;
}

.filter-input {
  color: #aabbbb;
  height: 1.6rem;
  margin: auto;
  padding: 10px 20px 0;
}

.filter-display {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
}

.filter-level, .filter-type, .filter-language {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 20px;
}

.filter-display ul li {
  list-style-type: none;
}

.filter-display ul li:hover {
  background-color: hsl(180, 52%, 96%);
}

.filter-language {
  column-count: 4;
  column-gap: 30px;
}

.filter-display-list {
  color:#5ca5a5;
  cursor: pointer;
  margin: 5px;
  box-sizing: border-box;
}

.filter-space {
  height: 150px;
}

@media screen and (max-width: 1600px) {
  .filter-level, .filter-type, .filter-language {
    column-count: 1;
  }

  .filter-language {
    column-count: 3;
    column-gap: 30px;
  }

  .filter-space {
    height: 220px;
  }
}

@media screen and (max-width: 1070px) {
  .filter-display {
    flex-wrap: wrap;
  }

  .filter-level, .filter-type, .filter-language {
    margin: 10px;
  }

  .filter-level, .filter-type {
    margin: 20px;
  }

  .filter-language {
    column-gap: 50px;
  }

  .filter-space {
    display: none;
    height: 445px;
  }
}

@media screen and (max-width: 600px) {
  .filter-display {
    justify-content: space-evenly;
  }

  .filter-language {
    column-count: 2;
  }

  .filter-space {
    height: 520px;
  }
}

@media screen and (max-width: 460px) {
  .filter-display {
    justify-content: center;
  }

  .filter-level, .filter-type {
    margin: 0px;
  }

  .filter-language {
    column-gap: 30px;
  }

  .filter-level {
    margin-right: 20px;
  }

  .filter-space {
    height: 480px;
  }
}