.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  justify-content: center;
  /* border: 1px solid red; */
  
}


/* .row {
  border: 1px solid 
} */

/* @media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;

  }
} */
