<div class='container'>
  <div class='row'>
    <app-banner></app-banner>
  </div>
  <div class='row'>
    <app-job-card class='list' ></app-job-card>
    <app-job-card class='list' ></app-job-card>
    <app-job-card class='list' ></app-job-card>

    <app-job-card class='list' ></app-job-card>
    <app-job-card class='list' ></app-job-card>
    <app-job-card class='list' ></app-job-card>
    
    <app-job-card class='list' ></app-job-card>
    <app-job-card class='list' ></app-job-card>
    <app-job-card class='list' ></app-job-card>
  </div>
</div>  

<!-- <div>
  <p *ngFor="let item of infoList">{{item.name}} | {{item.code}}</p>
</div> -->


<router-outlet></router-outlet>
