.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin-top: 0px;
  top: 0;
  /* position:fixed; */
}


/* .row {
  border: 1px solid 
} */

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin: 0px;
    /* width: 100%; */

  }
}
