<app-banner></app-banner>
<form class="login" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h1>placement</h1>
        <input
            type="text" 
            placeholder="First Name" 
            id="firstname" 
            name="firstname" 
            formControlName="firstname"
        >
        <input
            type="text" 
            placeholder="Last Name" 
            id="lastname" 
            name="lastname" 
            formControlName="lastname"
        > 
        <input
            type="email" 
            placeholder="Email" 
            id="email" 
            name="email" 
            formControlName="email"
        >
        <input
            type="password" 
            placeholder="Password" 
            id="password" 
            name="password" 
            formControlName="password"
        >
        <input
            type="password" 
            placeholder="Repeat Password" 
            id="repeatPassword" 
            name="repeatPassword" 
            formControlName="repeatPassword"
        >
        <button 
            type="submit" 
        >Sign Up</button>
    <h6 class="signup" routerLink="/login">Already have an account? <span>Log In</span></h6>
</form>
<div class="shadow"></div>
