  <div class='job-card' [ngStyle]="{'border-left': job.featured === true ? '7px solid #5CA5A5' : 'none'}">
    <div class="col avatar">
        <img class='img-responsive' src={{job.logo}}>
    </div>
    <div class="job-info-skills">
        <app-info [item]= "job" ></app-info>
        <div class=' col tech-skills' >
            <span class='job-role'>{{job.role}}</span>
            <span class=''>{{job.level}}</span>
            <span class='' *ngFor="let language of job.languages">{{language}}</span>
            <span class='' *ngFor="let tool of job.tools">{{tool}}</span>
        </div>

    </div>
    
  </div>