<div class="job-card-container">
  <div class='job-card' *ngFor="let job of jobs"
      [ngStyle]="{'border-left': job.featured ? '7px solid #5CA5A5' : 'none'}">
    <div class="avatar">
      <img class='img-responsive' src={{job.logo}} alt={{job.company}} title={{job.company}}>
    </div>

    <div class="job-info-skills">
      <app-info [item]= "job" ></app-info>

      <div class='tech-skills' >
        <span >{{job.role}}</span>
        <span >{{job.level}}</span>
        <span *ngFor="let language of job.languages">{{language}}</span>
        <span *ngFor="let tool of job.tools">{{tool}}</span>
      </div>
    </div>
  </div>
</div>
