<app-banner></app-banner>
<div class="create-job-container">
  <h4>Create A Job</h4>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="text"
        id="food"
        name="food"
        ngModel
        required
        placeholder="Favorite food"
        value="Sushi"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="text"
        id="comment"
        name="comment"
        ngModel
        required
        placeholder="Leave a comment"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput value="Google" />
    </mat-form-field>
  </form>
</div>