/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  background-color: hsl(180, 52%, 96%);
  font-family: spartan;
  margin: 0;
}
